* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0 auto;
    background-color: rgb(122, 120, 120);
}
#titulo {
    width: 550px;
    margin: 0 auto;
    font-family: sans-serif;
    color: rgb(4, 4, 92);
    text-align: center;
    border: 1px solid red;
    background-color: #ccc;
}
form {
    width: 550px;
    margin: 0 auto;
    background-color: #ccc;
    margin-top: 20px;
    font-family: sans-serif;
}
.nome {
    margin-top: 4px;
    text-align: center;
    
    
}
.email {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}
.botao {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    text-align: center;
}